*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 50%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 25%;
    top: 35%;
}

.swiper{
    width: 80%;
    height: fit-content;
}
.swiper-slide img{
    float: right;
    width:  600px;
    height: 600px;
    object-fit: cover;
}

.swiper .swiper-button-prev, .swiper .swiper-button-next{
    color: #fff;
}
